include zoo/data/*
include zoo/data/zika/*
include zoo/data/flu/*
inlcude zoo/data/ebola/*
include zoo/data/tests/*
include zoo/data/rna_virome_shi2016/*
include zoo/schema/*.json
include zoo/schema/fragments/*.json
include zoo/schema/specific/*.json
